:root {
    --background: #07000a;
    --foreground: #EFFBF9;
    --foreground-faded: #EFFBF999;
    --primary: #00BCF5;
    --primary-light: #47D4FF;
    --primary-dark: #0081A7;
    --secondary: #600645;
    --secondary-light: #a80b79;
    --secondary-dark: #390428;
    --tertiary: #B30014;


    --font-main: 'IBM Plex Sans', 'Arial', sans-serif;
    --font-mono: 'Space Mono', monospace;
}

body {
    font-family: var(--font-main);
    font-size: 11pt;
    background-color: var(--background);
    color: var(--foreground);
    padding: 0;
    margin: 0;
    width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-bottom: .5rem;
}

p,
li,
ul {
    margin-top: 0;
}

h1 {
    padding-bottom: .33em;
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 1rem;
    margin-top: 2rem;

    font-size: 18pt;
}

h2 {
    font-size: 15pt;
    margin-inline-start: .2rem;
    margin-inline-end: .2rem;
}

h3 {
    font-size: 13pt
}

p,
h3,
h4,
h5,
h6,
li,
ul {
    margin-inline-start: .66rem;
    margin-inline-end: .66rem;
}

h1:last-child h2:last-child h3:last-child h4:last-child h5:last-child h6:last-child,
p:last-child,
span:last-child,
li:last-child,
ul:last-child {
    margin-bottom: 0;
}

ul,
li {
    padding: 0;
}

.page__author {
    font-size: 9pt;
    font-style: italic;
    text-align: right;
}

.page__title {
    border: none;
    line-height: 110%;
    margin: auto;
    padding: 0;
    font-size: 21pt;
}

.page__header-titles {
    width: 100%;
}

.page__header-sub {
    display: flex;
    justify-content: space-between;
}

.page__header-date {
    font-size: 9pt;
    display: flex;
}



@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate(0, 1rem) scaleX(.9) skew(2deg, 2deg);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0) scaleX(1) skew(0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.page__header-profilePic {
    border-radius: 10px;
    height: 64px;
    margin-right: 0em;
    width: auto;
    transform: translate(-1em, 0);
}

.page__outer {
    padding: 1rem;
}

.page__main {
    opacity: 100;
    padding: 2rem;
    animation: slideIn 0.3s ease;
}

.page__wrapper {
    max-width: 640px;
    margin: 0 auto;
}

@media (max-width: 760px) {
    .page__outer {
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .page__title {
        font-size: 18pt;
    }

    .page__wrapper {
        max-width: 80%;
    }
}

@media (max-width: 480px) {

    .page__header-profilePic {
        transform: translate(1em, 0);
        margin-right: 2em;
    }

    .page__title {
        font-size: 14pt;
    }

    .page__outer {
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .page__wrapper {
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 100%;
    }
}

.page__blog-entry {
    list-style-type: none;
}

.page__blog-entry {
    list-style-type: none;
    padding-bottom: 1em;
}

.page__blog-entry:last-child {
    padding-bottom: 0;
}

.page__header {
    background-color: var(--background);
    z-index: 10;
    padding: 3rem 1rem 1rem;
    top: -2rem;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    min-height: 3em;
    font-size: 10.5pt;
}

.page__footer {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 1em;
    font-size: 10.5pt;
    bottom: 0;
    bottom: auto;
    left: auto;
    margin-bottom: 0;
}

.page__header-block {
    display: flex;
}

.page__header-gradient,
.page__footer-gradient {
    height: 4em;
    width: 100%;
    left: 50%;
    z-index: 8;
    pointer-events: none;
    transform: translate(-50%, 0);
    background: linear-gradient(var(--background), transparent);
    position: absolute;
    transition: opacity 0.3s ease;
}

.page__header-outer {
    padding-bottom: 0;
    padding-top: 0;
}

.page__header-gradient {
    top: 100%;
}

.hidden {
    opacity: 0%;
    pointer-events: none;
}

.page__footer-gradient {
    bottom: 100%;
    background: linear-gradient(transparent, var(--background));
}

.page__header-border,
.page__footer-border {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--secondary);
    z-index: 9;
}

.page__footer-border {
    top: 0%;
}

.page__header-border {
    bottom: 0%;
}

.page__footer-outer {
    padding-top: 0;
}

.page__header-left {
    text-align: left;
    display: flex;
}

.page__right {
    text-align: right;
    display: flex;
}

.page__header-entry,
.page__footer-entry {
    padding-bottom: .5em;
}

.page__header-entry:last-child,
.page__footer-entry:last-child,
.page__nav-link:last-child {
    padding-bottom: 0;
    margin-inline-end: 0;
}

.page__nav-link:first-child {
    margin-inline-start: 0;
}

.page__nav-link {
    margin-inline-start: .25em;
    margin-inline-end: .25em;
}

.page__breadcrumbs,
.page__nav {
    color: var(--secondary);
}

a {
    color: var(--primary);
    text-decoration: none;
}

a.page__footer-entry,
a.page__header-entry,
a.page__breadcrumbs-link,
a.page__nav-link {
    color: var(--secondary-light);
}

a:hover.page__footer-entry,
a:hover.page__header-entry,
a.page__breadcrumbs-link:hover,
a.page__nav-link:hover {
    color: var(--secondary);
}

a:hover {
    color: var(--primary-dark);
}

a.visited {
    color: var(--secondary);
}